body { padding: 0; margin: 0; background: {{{ BACKGROUND_COLOR }}}; overflow: hidden; width: 100vw; height: 100vh; }
#unity-container { 
  position: fixed; 
  left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); 
  width: 100vw; 
  height: 100vh;
  max-width: 62.5vh; /* 10:16 ratio (10/16 = 0.625) */
  max-height: 200vw; /* 8:16 ratio (16/8 = 2.0) */
}
#unity-canvas { width: 100%; height: 100%; background: {{{ BACKGROUND_COLOR }}} }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-empty { margin-left: auto; margin-right: auto; width: 141px; height: 18px; margin-top: 10px; background: url('progress-bar-empty-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
